<footer class="bg-near-white mid-gray relative z-5">
	<div class="ph4-ns ph3 pv5">
		<div class="mw8 center flex flex-wrap f5">
			<div class="w-20-l w-100 flex items-start justify-start mb0-l mb4">
				<a href="{{ absURL "/" }}" title="Home" class="f4 fw7 black mb0-l mb3">
                    <div class="h2 w2">
	                    {{ partial "logo.svg" . }}
	                </div>
                </a>
			</div>
			<div class="w-20-l w-50 mb0-l mb4">
				<h4 class="f6 fw5 mt0 mb2 ttu">Community</h4>
				<ul class="list ma0 pa0 flex flex-column items-start">
					<li class="mv2"><a href="{{ absURL "/inprogress" }}" class="link mid-gray">Slack (TODO)</a></li>
					<li class="mv2"><a href="https://matrix.to/#/#dccommunitymeshinternet:jazyn.xyz" class="link mid-gray">Matrix Chat</a></li>
					<li class="mv2"><a href="{{ absURL "/volunteer" }}" class="link mid-gray">Volunteer</a></li>
					<li class="mv2"><a href="{{ absURL "/coc" }}" class="link mid-gray">Code of Conduct</a></li>				
					<li class="mv2"><a href="{{ absURL "/contact" }}" class="link mid-gray">Contact Us</a></li>
				</ul>
			</div>
			<div class="w-20-l w-50 mb0-l mb4">
				<h4 class="f6 fw5 mt0 mb2 ttu">Network</h4>
				<ul class="list ma0 pa0 flex flex-column items-start">
					<li class="mv2"><a href="{{ absURL "/inprogress" }}" class="link mid-gray">Network Status (TODO)</a></li>
					<li class="mv2"><a href="{{ absURL "/inprogress" }}" class="link mid-gray">Stats (TODO)</a></li>
					<li class="mv2"><a href="https://wiki.dccommunitymeshinter.net/link/98#bkmrk-page-title" class="link mid-gray">Peering (TODO)</a></li>
					<li class="mv2"><a href="{{ absURL "/sponsors" }}" class="link mid-gray">Sponsors</a></li>
					<li class="mv2"><a href="https://dccommunitymeshinter.net/ncl.pdf" class="link mid-gray">Network Commons License (TODO)</a></li>
				</ul>
			</div>
			<div class="w-20-l w-50 mb0-l">
				<h4 class="f6 fw5 mt0 mb2 ttu">Resources</h4>
				<ul class="list ma0 pa0 flex flex-column items-start">
					<li class="mv2"><a href="https://wiki.dccommunitymeshinter.net/books/introduction/page/frequently-asked-questions" class="link mid-gray">FAQ (TODO)</a></li>
					<li class="mv2"><a href="https://wiki.dccommunitymeshinter.net" class="link mid-gray" target="_">Documentation (Wiki)</a></li>
					<li class="mv2"><a href="https://los.dccommunitymeshinter.net" class="link mid-gray" target="_">Line of Sight</a></li>
					<li class="mv2"><a href="https://wiki.dccommunitymeshinter.net/link/123#bkmrk-page-title" class="link mid-gray" target="_">Outreach (TODO)</a></li>
					<li class="mv2"><a href="{{ absURL "/pay" }}" class="link mid-gray" target="_">Install Payment (TODO)</a></li>
					<li class="mv2"><a href="{{ absURL "/orgdocs" }}" class="link mid-gray">Public Records (TODO)</a></li>
					<li class="mv2"><a href="https://dccommunitymeshinter.net/privacy-policy" class="link mid-gray">Privacy Policy (TODO)</a></li>
				</ul>
			</div>
			<div class="w-20-l w-50">
				<h4 class="f6 fw5 mt0 mb2 ttu">Social</h4>
				<ul class="list ma0 pa0 flex flex-column items-start">
					<li class="mv2"><a href="{{ absURL "/inprogress" }}" class="link mid-gray">Bluesky (TODO)</a></li>
					<li class="mv2"><a href="https://github.com/DC-Mesh-Internet" class="link mid-gray">Github</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
